@use 'components.scss';

* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    color: #21221f;
    margin: 0;
    font-family: 'Noto Sans Arabic', 'Cairo',
        ui-sans-serif, -apple-system, system-ui, Segoe UI,
        Helvetica, Apple Color Emoji, Arial, sans-serif,
        Segoe UI Emoji, Segoe UI Symbol;
    overflow-x: hidden;

}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    height: 40px;
}

button {
    cursor: pointer;
}

.app-ar {
    direction: rtl;
}

.main {
    display: flex;
    position: relative;

    &.open {
        .body-content {
            margin-inline-start: 260px;
        }

        @media (max-width:768px) {
            .side-bar {
                &.en {
                    left: 0;
                }

                &.ar {
                    right: 0;
                }
            }
        }
    }

    .side-bar {
        position: fixed;
        z-index: 2;
        top: 0;
        background: linear-gradient(to bottom, #e4eaf6, #fff);
        width: 55px;
        overflow: hidden;
        padding: 20px 10px;
        height: 100%;
        border-inline-end: 1px solid #e6e6e6;
        min-height: 100vh;
        transition: .3s;
        overflow-y: auto;
        scrollbar-width: thin;

        &.en {
            left: 0;

            @media (max-width:768px) {
                left: -60px;
            }
        }

        &.ar {
            @media (max-width:768px) {
                right: -60px;
            }
        }

        .hover-open-sidebar {
            display: none;
        }

        &.open {
            width: 260px;

            .head {
                .logo {
                    img {
                        margin-inline-start: 0;
                    }
                }
            }

            .hide-close {
                display: grid !important;

            }

            .chats-but {
                justify-content: flex-start !important;

                &.conversation-item {

                    justify-content: space-between !important;
                }
            }

            .footer {
                width: 230px;
            }
        }

        &:not(.open) {
            justify-content: center;

            @media (min-width:768px) {
                .logo {
                    width: 100%;
                    max-width: 42px;

                    a {
                        display: flex;
                        justify-content: center;
                    }

                    &:hover {
                        img {
                            display: none;
                        }

                        .hover-open-sidebar {
                            display: block;
                            margin: 0 auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }


        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            height: 36px;

            .logo {
                img {
                    margin-inline-start: 5px;
                }

                font-weight: 900;

            }

            button {
                width: 36px;
                height: 36px;
                display: grid;
                place-content: center;
                font-weight: bold;
                font-size: 20px;
            }
        }

        .chats-list {
            max-width: 240px;

            li {
                button {
                    padding: 3px 5px;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 15px;
                    }
                }
            }
        }

        .chats-but {
            background-color: transparent;
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            padding: 7px 5px;
            margin-bottom: 2px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #e6e6e6;
            }

        }

        .hide-close {
            display: none !important;
        }

        .footer {
            position: fixed;
            bottom: 20px;
            z-index: 3;
            width: 40px;
            background: #fff;
        }
    }

    .body-content {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 16px 20px;
        transition: .3s;
        margin-inline-start: 55px;

        @media (max-width:768px) {
            margin-inline-start: 0 !important;
            padding: 16px 10px;
        }
    }

}